<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome Mr : {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="http://1.bp.blogspot.com/-jxayZODUznw/UedzshEqyDI/AAAAAAAAO1M/vqT8bdiC-4k/s1600/Attarintiki_Daredi_new_still_04.JPG">
</div> -->
 
<!-- <app-welcome></app-welcome> -->
<!-- <app-login></app-login> -->
<!-- <div>Component content</div> -->
<app-menu></app-menu> <br>
<div class="container">
<router-outlet></router-outlet> 
</div>
<app-footer></app-footer>